.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    min-height: 100vh;
}

.contact-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-header > h1 {
    font-family: ui-sans-serif;
    font-size: 32px;
    color: #ffe5bc;
}

.contact-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 350px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

input {
    padding: 6px 12px;
    font-size: 16px;
    background: #fffde4;
    border-radius: 4px;
    outline: none;
}

textarea {
    resize: none;
    padding: 6px 12px;
    font-size: 16px;
    background: #fffde4;
    border-radius: 4px;
    outline: none;
}

.submit-btn {
    font-family: "Gill Sans", sans-serif;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    background: #ffe5bc;
    font-size: 16px;
}

a.book-btn {
    width: 160px;
}

.book-btn > button {
    padding: 12px;
    font-size: 14px;
    color: #ffe5bc;
    background: none;
    border: 2px solid #ffe5bc;
    cursor: pointer;
}