main.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-image: url("images/home.jpg");
    background-size: cover;
}

.center {
    padding: 24px;
    background-color: #2f2a26c4;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.center > img {
    width: 545px;
    height: 525px;
    object-fit: contain;
}

.tagline {
    font-family: ui-sans-serif;
    font-size: 42px;
    font-weight: normal;
}

a.book-btn {
    width: 160px;
}

.book-btn > button {
    padding: 12px;
    font-size: 14px;
    color: #ffe5bc;
    background: none;
    border: 2px solid #ffe5bc;
    cursor: pointer;
}
