main.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-image: url("images/home.jpg");
    background-size: cover;
}

.center {
    padding: 1.5rem;
    background-color: #2f2a26c4;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.center > img {
    width: 545px;
    height: 525px;
    object-fit: contain;
}

.tagline {
    font-family: ui-sans-serif;
    font-size: 2.7rem;
    font-weight: normal;
}

a.book-btn {
    width: 160px;
}

.book-btn > button {
    padding: 12px;
    font-size: 14px;
    color: #ffe68a;
    background: none;
    border: 2px solid #ffe68a;
    cursor: pointer;
}
/* 

.flex-main {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #DDDDDD;
}

#about {
    background-color: #F5F5F5;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 10px;
}

table, tbody, tr, th, td {
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
    padding: 1em;
}

thead {
    background-color: #FF6B35;
}

caption {
    padding: 1rem;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #DDDDDD;
}

tfoot {
    text-align: center;
} */
