body {
    padding: 0 2em;
    margin: 2em 10em;
    display: flex;
    flex-direction: column;
}

.flex-main {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #DDDDDD;
}

#about {
    background-color: #F5F5F5;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 10px;
}

/* --- Table --- */
table, tbody, tr, th, td {
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
    padding: 1em;
}

thead {
    background-color: #FF6B35;
}

caption {
    padding: 1rem;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #DDDDDD;
}

tfoot {
    text-align: center;
}