.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-header {
    text-align: center;
    margin-bottom: 48px;
}

.menu-header > h1 {
    font-family: ui-sans-serif;
    font-size: 32px;
    font-weight: normal;
}

.menu-header > p {
    color: #ffe5bc;
}

.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.menu-item > img {
    height: 400px;
    width: 300px;
    object-fit: cover;
    border-radius: 4px;
}

.menu-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu-info > p {
    font-size: 20px;
    color: #ffe5bc;
}

.menu-item > button {
    padding: 12px;
    font-size: 14px;
    color: #ffe5bc;
    background: none;
    border: 1px solid #ffe5bc;
    cursor: pointer;
    width: 100%;
}
