* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Gill Sans", sans-serif;
  background-color: #10100f;
  color: white;
  min-height: 100vh;
}

main {
  flex: 1;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4px 0;
  gap: 4px;
}

.logo > img {
  width: 80px;
  height: 80px;
}

ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

ul li a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #ffe5bc;
}

.menu-btn {
  padding: 0.5rem 1rem;
  border: none;
  background: #ffe5bc;
  cursor: pointer;
  font-size: 12px;
}

.menu-btn > button {
  border: none;
  background: none;
  cursor: pointer;
}

button {
  font-family: "Gill Sans", sans-serif;
}
