* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: large;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #FFFFFF;
    color: #333333;
}

/*  Links  */
a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: red;
}

a:hover {
    color: #E55A2B;
}

a:active {
    color: aquamarine;
}

/*  Header & Nav  */
header {
    display: flex;
    flex-direction: column;
    background-color: #333333;
    padding: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6B35;
}

nav, ul, li, a {
    background-color: #FF6B35;
}

ul {
    list-style: none;
    font-weight: bold;
    display: inline-block;
    padding-right: 5px;
}

li {
    display: inline-block;
    padding: 5px;
}

#logo {
    font-size: 30px;
    font-weight: bold;
    padding: 1em;
    background-color: #FF6B35;
}

/*  Footer  */
footer {
    background-color: #333333;
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px;
}

#back {
    background-color: #FF6B35;
}