* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 2em;
    padding: 0 1em 0 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    font-size: larger;
    font-weight: bold;
    padding:  10px;
}

nav, ul, li {
    list-style: none;
    display: inline-block;
    justify-content: space-between;
    text-align: right;
    padding: 0 1em 0 1em;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: blue;
}

a:hover {
    color: black;
}

a:active {
    color: whitesmoke;
}

main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.menu-main {
    text-align: center;
}

#menu-header {
    padding-bottom: 1em;
}

.appetizers {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
}

#appetize {
    padding-bottom: 15px;
}

.appetizers img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.breads {
    display: flex;
    justify-content: center;
    gap: 10em;
}

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
}

.main-course {
    display: flex;
    justify-content: center;
    gap: 10em;
}

.main-course img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#main {
    padding-bottom: 15px;
}

.desserts {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
}

.desserts-list {
    display: flex;
    justify-content: center;
    gap: 10em;
}

.desserts-list img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.beverages {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.drinks {
    display: flex;
    justify-content: center;
    gap: 10em;
}

.drinks img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#back-to-top, a{
    font-size: 20px;
}

footer {
    font-size: 20px;
}