* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
header,
.logo,
ul,
footer > .content {
  display: flex;
}

header {
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

body {
  flex-direction: column;
  font-family: "Gill Sans", sans-serif;
  background-color: #10100f;
  color: white;
  min-height: 100vh;
}

main {
  flex: 1;
  min-height: 100vh;
}

.logo {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4px 0;
  gap: 4px;
}

.logo > img {
  width: 80px;
  height: 80px;
}

ul {
  list-style: none;
  gap: 2rem;
}

ul li a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #ffe5bc;
}

.menu-btn {
  padding: 0.5rem 1rem;
  border: none;
  background: #ffe5bc;
  cursor: pointer;
  font-size: 12px;
}

.menu-btn > button {
  border: none;
  background: none;
  cursor: pointer;
}

button {
  font-family: "Gill Sans", sans-serif;
}

footer {
  width: 100%;
  padding: 16px;
  background: #1e1e1e;
}

footer > .content {
  justify-content: space-evenly;
  text-align: center;
  margin-top: 24px;
}

img.footer-logo {
  width: 125px;
  height: 125px;
}

.left > h4,
.right > h4 {
  font-family: ui-sans-serif;
  color: #ffe5bc;
}

.left > p,
.right > p {
  margin-top: 12px;
}

.bottom {
  text-align: center;
  margin-top: 24px;
}
